*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-profile-card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.profile-card>img{
   width: 100px;
   height: 100px;
   border-radius: 50px;
}

.profile-card{
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #9e0a0a;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
}

.profile-content{
    margin-top: 15px 15px;
    padding: 20px;
    text-align: center;
    text-transform: capitalize;
    color: rgb(232, 232, 232);
}